name: Terraform Infrastructure Management
run-name: Run terraform ${{ github.event.inputs.operation }} for the ${{ github.event.inputs.environment }} environment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select environment'
        required: true
        default: 'stg'
        type: choice
        options:
          - dev
          - stg
          - prd
          - hfx
      operation:
        description: 'Select operation to perform'
        required: true
        default: 'apply'
        type: choice
        options:
          - plan
          - apply
          - destroy
jobs:
  plan-infra:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }} 
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_S3_BUCKET: ${{ vars.AWS_S3_BUCKET }}
      ENVIRONMENT: ${{ github.event.inputs.environment }}
      OPERATION: ${{ github.event.inputs.operation }}
